@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);

:root {
  --views-width: 693px;
  --proj-box-size: 225px;
}

body, html {
  font-family: 'Ubuntu Mono', monospace;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

h1 {
  margin: 0px;
}

h2 {
  font-size: 20px;
}

li {
  list-style: none;
  line-height: 24px;
}

hr {
  border: none;
  height: 1px;
  background-color: rgba(51, 51, 51, 0.12);
}

#app-view {
  height: 100%;
  margin-bottom: 100px;
}

.center-container {
  width: var(--views-width);
  margin: 0 auto 150px auto;
}

.contact-entry {
  margin-left: 10px;
}

.contact-container span {
  display: flex;
  margin: 0 0 10px 0;
}

.contact-container span div {
  margin: 0 8px 0 0;
}

@media (max-width: 800px) {
  :root {
    --views-width: 410px;
    --proj-box-size: 195px;
  }

  .contact-container {
    padding: 0 20px 0 20px;
  }
}

@media (max-width: 600px) {
  :root {
    --views-width: 400px;
    --proj-box-size: 400px;
  }
}

@media (max-width: 400px) {
  :root {
    --views-width: 100vw;
    --proj-box-size: 100vw;
  }
}